 <!-- Alert -->
 <fuse-alert
 class="mt-8 -mb-4"
 *ngIf="showAlert"
 [appearance]="'outline'"
 [showIcon]="false"
 [type]="alert.type"
 [@shake]="alert.type === 'error'">
 {{alert.message}}
</fuse-alert>
<form
    class="mt-8"
    [formGroup]="dataForm"
    #dataNgForm="ngForm">
    <input  hidden="true"  matInput class="form-control" formControlName="id" id="id">
    <!-- Name field -->
    <mat-form-field class="w-full">
        <mat-label>Nombre Completo</mat-label>
        <input
            id="nombre"
            matInput
            [formControlName]="'nombre'">
        <mat-error *ngIf="dataForm.get('nombre').hasError('required')">
            El nombre es requiredo
        </mat-error>
    </mat-form-field>

    <!-- usuario field -->
    <mat-form-field class="w-full">
        <mat-label>Usuario</mat-label>
        <input
            id="usuario"
            matInput
            [formControlName]="'usuario'">
        <mat-error *ngIf="dataForm.get('usuario').hasError('required')">
            El usuario es requiredo
        </mat-error>
        
    </mat-form-field>

    <mat-form-field class="flex-auto gt-xs:pr-3">
        <mat-select [placeholder]="'Estatus'" id="estatus"  [formControlName]="'estatus'"  [(ngModel)]="this.selectedSatus">
            <mat-option *ngFor="let item of status" [value]="item.val" >
                {{ item.label }}
            </mat-option>        
        </mat-select>
        <mat-error *ngIf="dataForm.get('estatus').hasError('required')">
            El estatus es requiredo
        </mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto gt-xs:pr-3">
        <mat-select [placeholder]="'Rol'" id="rol"  [formControlName]="'rol'"
        [(ngModel)]="selectedRolId"
        >
            <mat-option *ngFor="let item of roles" [value]="item.idRol" >
                {{ item.nombreRol }}
            </mat-option>      
        </mat-select>
        <mat-error *ngIf="dataForm.get('rol').hasError('required')">
            El rol es requiredo
        </mat-error> 
    </mat-form-field>

    <ng-container>
        <div class="flex items-center justify-end mt-4">
            <button mat-button (click)="onNoClick()">
                Cancel
            </button>
               <!-- Submit button -->
            <button (click)="Save()"
                mat-flat-button
                [color]="'primary'"
                
                >
                Save
                <mat-progress-spinner
                *ngIf="dataForm.disabled"
                [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </div>
    </ng-container>



</form>