<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>
    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">
        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <!-- Filters -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-36">
                    <mat-select
                        [value]="'all'"
                        (selectionChange)="filterByCategory($event)">
                        <mat-option [value]="'all'">All</mat-option>
                        <ng-container *ngFor="let category of categories; trackBy: trackByFn">
                            <mat-option [value]="category.id">{{category.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
<!--                 <ng-container *transloco="let t">
                    <button
                        class="ml-4 px-1 sm:px-4 min-w-10"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="Save()">
                        <ng-container *transloco="let t">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:save'"></mat-icon>
                            <span class="hidden sm:inline-block ml-2">{{t('eGuardar')}}</span>
                        </ng-container>
                    </button>
                </ng-container> -->
                <a class="mt-8 sm:mt-0 sm:ml-auto"
                mat-button
                [routerLink]="['/idiom']"
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                <span class="ml-2">Atras</span>
                </a>
            </div>
            <!-- Courses -->
            <form >
            <ng-container *ngIf="this.labels.length; else noCourses">             
                    <ng-container *ngFor="let item of labels; let i=index;">
                        <div class="grid sm:grid-cols-6 gap-6 w-full mt-8" *ngIf="i % 3 == 0">
                            <ng-container *ngFor="let pos of [0, 1, 2]">
                            <!-- Title -->
                            <div class="sm:col-span-2" *ngIf="i+pos < labels.length">
                                <mat-form-field class="w-full">
                                    <mat-label>{{labels[i+pos].descripcion}}</mat-label>
                                    <input (change)="onChangeEvent($event)"
                                        value={{labels[i+pos].valor}}
                                        id="{{labels[i+pos].idValue}}"
                                        matInput
                                       >
                                   
                                </mat-form-field>
                            </div>
                            </ng-container>
                        </div>
                    </ng-container>
               
            </ng-container>
            </form>
            <!-- No courses -->
            <ng-template #noCourses>
                <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                    <mat-icon
                        class="icon-size-24"
                        [svgIcon]="'heroicons_outline:document-search'"></mat-icon>
                    <ng-container *transloco="let t">
                        <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">{{t('eNoData')}}</div>                   
                    </ng-container>
                </div>
            </ng-template>
        </div>
    </div>
</div>
